<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body{
            background-color: #292b2c;
            font-family: Arial, Helvetica, sans-serif;
            color:white;
            text-align: center;
        }
        .emoji{
            font-size: 5rem;
        }
        a{
            color:white;
        }
    </style>
</head>
<body>
    <h4>New User has been created 🤴</h4>
    <h1>Welcome to the Dashboard {{name}} </h1>
    <h1 class="emoji">🥳</h1>
    <a href="/student/logout" method="POST" >Logout</a>
</body>
</html>