{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Project | Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages%}
<div style="width:390px;margin:auto">
<h5 style="width:350px;" role="alert" class="text-center alert alert-danger">{{message}}</h5>
</div>
{% endfor %}
{% endif %}
{% endwith %}
    <div class="container" style="height:450px;">

      <form class="form-signin" method="POST" action="/student/login">
        <h2 class="text-center form-signin-heading">Login To Account</h2>
        <br>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <br>
        <a href="/signup" action="post">New Here? <strong>Create an account</strong></a>
      </form>

    </div> <!-- /container -->
{% endblock %}